@import url(https://fonts.googleapis.com/css2?family=Kranky&display=swap);
* {
    margin: 0;
    padding: 0;
    font-family: "Kranky", cursive;
}
body {
    background-image: url("/images/home.jpg'");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav {
    float: right;
}
.nav ul li a {
    font-family: "Kranky", cursive;
    font-size: 25px;
    color: black;
}
.logo img {
    border-radius: 150px;
    margin-left: 40%;
    margin-top: 20px;
}
.title p {
    color: #fd9904;
    font-family: "Kranky", cursive;
    margin-left: 30%;
    margin-top: 10px;
    font-size: 60px;
}
.message p {
    font-family: "Kranky", cursive;
    font-size: 50px;
    margin-left: 10%;
    margin-top: 30px;
}
#registrationModal {
    margin-bottom: 20px;
}

#registrationForm label {
    display: inline-block;
    margin-bottom: 2px;
}
#registrationForm input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
#registrationForm input:focus {
    outline: 0;
    border-color: #777;
}
.registrationForm.success input {
    outline: 0;
    border-color: #2ecc71;
}
.registrationForm.error input {
    outline: 0;
    border-color: #e74c3c;
}
.registrationForm.success i.material-icons {
    color: #2ecc71;
    visibility: visible;
}
.registrationForm.error i.error {
    color: #e74c3c;
    visibility: visible;
}
#registrationForm i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}
#registrationForm small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
img {
    text-align: center;
    margin: 5px;
}
.card {
    width: 90%;
    height: 80%;
    position: relative;
    margin-left: 20%;
    top: 30%;
}
form {
    text-align: center;
    border: 1px solid #fd9904;
    position: relative;
    width: 600px;
    height: 650px;
    left: 300px;
    background: rgba(229, 229, 229, 0.53);
    border-radius: 143px;
    margin: 50px;
}
.form-group label {
    font-family: "Kranky", cursive;
    font-size: 20px;
    margin-left: 10%;
}
form .login-title p {
    color: #fd9904;
    font-family: "Kranky", cursive;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 30px;
}
.form-group input {
    margin: 10px;
    text-align: center;
    width: 520px;
    position: relative;
    left: 10px;
    font-family: "Kranky", cursive;
    font-size: 20px;
    color: #fd9904;
}
form img {
    margin: 30px;
}
#login {
    padding: 10px;
    width: 300px;
    text-align: center;
    background: #fd9904;
    border-radius: 100px;
    border: none;
    font-family: "Kranky", cursive;
    font-size: 20px;
    position: relative;
}
#register-link {
    position: absolute;
    left: 200px;
    top: 530px;
    align-items: center;
    text-align: center;
    text-indent: 0%;
}
a {
    font-family: "Kranky", cursive;
    font-size: 30px;
    color: #fd9904;
    text-decoration: none;
}
a:hover {
    color: #fd9904;
    text-transform: 20px;
    font-size: 30px;
    font-family: "Kranky", cursive;
}
#register {
    padding: 10px;
    width: 300px;
    text-align: center;
    background: #fd9904;
    border-radius: 100px;
    border: none;
    font-family: "Kranky", cursive;
    font-size: 20px;
    position: absolute;
    left: 160px;
}
.redirection {
    margin: 10px;
}
#register-login {
    font-size: 18px;
}
#close {
    top: 0;
    position: absolute;
    right: 25px;
    margin-left: 50px;
    font-size: 30px;
}
.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    font-family: "Kranky", cursive;
}
.sidebar p {
    text-align: center;
    color: #fd9904;
    font-size: 30px;
}
.landlord-links ul li {
    list-style-type: none;
    font-size: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.landlord-links ul li a {
    color: #fd9904;
}
.landlord-links ul li a:hover {
    color: blue;
}
.cards img {
    margin-left: 45%;
    top: 0;
    margin-top: 10px;
    position: absolute;
}
.occupancy {
    width: 220px;
    height: 221px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-left: 30%;
    margin-top: 5%;
}
.accounts {
    width: 220px;
    height: 221px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-left: 55%;
    top: 22%;
}
.bills {
    width: 220px;
    height: 221px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-left: 30%;
    margin-top: 2%;
}
.services {
    width: 220px;
    height: 221px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-left: 55%;
    margin-top: 2%;
}
.occupancy-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f0f0f0;
    border: solid 1px #8333ff;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.occupancy-circle img {
    position: inherit;
    margin: 20px;
}
.occupancy-circle p {
    z-index: 1000;
    text-align: center;
    font-family: "Kranky", cursive;
    font-size: 21px;
    color: #8333ff;
    font-weight: bold;
}
.occupancy:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 5px 25px rgba(131, 51, 255);
    background: #8333ff;
}
.occupancy:hover .occupancy-overlay {
    transform: scale(4) translateZ(0);
}
.occupancy:hover .occupancy-circle {
    border-color: #a97bf0;
    background: #a97bf0;
    opacity: 1000;
}
.occupancy:hover .occupancy-circle:after {
    background: #f0f0f0;
}
.occupancy:hover p {
    color: #f0f0f0;
}
.occupancy:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px rgba(131, 51, 255);
}
.occupancy p {
    font-size: 20px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}
.occupancy-circle:after {
    content: "";
    width: 110px;
    height: 110px;
    background: #8333ff;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}
.occupancy-circle img {
    z-index: 10000;
    transform: translateZ(0);
}
.occupancy-overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}
.accounts-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f0f0f0;
    border: solid 1px #107c42;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.accounts-circle img {
    position: inherit;
    margin: 25px;
}
.accounts-circle p {
    z-index: 1000;
    text-align: center;
    font-family: "Kranky", cursive;
    font-size: 21px;
    color: #107c42;
    font-weight: bold;
}
.accounts:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 5px 25px rgba(16, 124, 66);
    background: #107c42;
}
.accounts:hover .occupancy-overlay {
    transform: scale(4) translateZ(0);
}
.accounts:hover .accounts-circle {
    border-color: #27a762;
    background: #27a762;
    opacity: 1000;
}
.accounts:hover .accounts-circle:after {
    background: #f0f0f0;
}
.accounts:hover p {
    color: #f0f0f0;
}
.accounts:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px rgba(16, 124, 66);
}
.accounts p {
    font-size: 20px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}
.accounts-circle:after {
    content: "";
    width: 110px;
    height: 110px;
    background: #107c42;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}
.accounts-circle img {
    z-index: 10000;
    transform: translateZ(0);
}
.accounts-overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}
.bills-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f0f0f0;
    border: solid 1px #e5184d;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.bills-circle img {
    position: inherit;
    margin: 25px;
}
.bills-circle p {
    z-index: 1000;
    text-align: center;
    font-family: "Kranky", cursive;
    font-size: 21px;
    color: #e5184d;
    font-weight: bold;
}
.bills:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 5px 25px rgba(229, 24, 77);
    background: #e5184d;
}
.bills:hover .bills-overlay {
    transform: scale(4) translateZ(0);
}
.bills:hover .bills-circle {
    border-color: #ef567d;
    background: #ef567d;
    opacity: 1000;
}
.bills:hover .bills-circle:after {
    background: #f0f0f0;
}
.bills:hover p {
    color: #f0f0f0;
}
.bills:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px rgba(229, 24, 77);
}
.bills p {
    font-size: 20px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}
.bills-circle:after {
    content: "";
    width: 110px;
    height: 110px;
    background: #e5184d;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}
.bills-circle img {
    z-index: 10000;
    transform: translateZ(0);
}
.bills-overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.services-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f0f0f0;
    border: solid 1px #ffff00;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.services-circle img {
    position: inherit;
    margin: 25px;
}

.services-circle p {
    z-index: 1000;
    text-align: center;
    font-family: "Kranky", cursive;
    font-size: 21px;
    color: #ffff00;
    font-weight: bold;
}
.services:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 5px 25px rgba(255, 255, 0);
    background: #ffff00;
}
.services:hover .services-overlay {
    transform: scale(4) translateZ(0);
}
.services:hover .services-circle {
    border-color: #ffff4a;
    background: #ffff4a;
    opacity: 1000;
}
.services:hover .services-circle:after {
    background: #f0f0f0;
}
.services:hover p {
    color: #4c5656;
}
.services:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px rgba(255, 255, 0);
}
.services p {
    font-size: 20px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}
.services-circle:after {
    content: "";
    width: 110px;
    height: 110px;
    background: #ffff00;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}
.services-circle img {
    z-index: 10000;
    transform: translateZ(0);
}
.services-overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}
/* the internal cards for the cards  */
.service-charge {
    width: 220px;
    height: 221px;
    background: #ff8f00;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-left: 30%;
    margin-top: 5%;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.services-charge-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f0f0f0;
    border: solid 1px #ffff00;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.services-charge-circle img {
    position: inherit;
    margin: 25px;
}

.services-charge-circle p {
    z-index: 1000;
    text-align: center;
    font-family: "Kranky", cursive;
    font-size: 21px;
    color: #ffff00;
    font-weight: bold;
}
.service-charge:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 5px 25px rgba(255, 255, 0);
    background: #ffff00;
}
.service-charge:hover .service-charge-overlay {
    transform: scale(4) translateZ(0);
}
.service-charge:hover .service-charge-circle {
    border-color: #ffff4a;
    background: #ffff4a;
    opacity: 1000;
}
.service-charge:hover .service-charge-circle:after {
    background: #f0f0f0;
}
.service-charge:hover p {
    color: #4c5656;
}
.service-charge:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px rgba(255, 255, 0);
}
.service-charge p {
    font-size: 20px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}
.service-charge-circle:after {
    content: "";
    width: 110px;
    height: 110px;
    background: #ffff00;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}
.service-charge-circle img {
    z-index: 10000;
    transform: translateZ(0);
}
.service-charge-overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}